<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="BTrakConnectionString" connectionString="Data Source=.;Persist Security Info=True;Database=zinnia-prod;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=False;User ID=octopus;Password=Assistance123!;" />
		<add name="AuthenticationConnectionString" connectionString="Data Source=.;Persist Security Info=True;Database=zinnia-auth-prod;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=False;User ID=octopus;Password=Assistance123!;" />
	</connectionStrings>

	<appSettings>
		<add key="DownloadsPath" value="F:\zinnia-excel-to-custom-application-records\new-excels" />
	</appSettings>
</configuration>