CREATE PROCEDURE [dbo].[USP_GetUserStatusFromTime]
(
    @UserId UNIQUEIDENTIFIER, 
    @OperationsPerformedBy UNIQUEIDENTIFIER
)
AS
BEGIN
    SET NOCOUNT ON
    BEGIN TRY
     SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED 
     
          DECLARE @HavePermission NVARCHAR(250)  = (SELECT [dbo].[Ufn_UserCanHaveAccess](@OperationsPerformedBy,(SELECT OBJECT_NAME(@@PROCID))))
          
		  IF(@HavePermission = '1')
           BEGIN
            
               DECLARE @CompanyId UNIQUEIDENTIFIER = (SELECT [dbo].[Ufn_GetCompanyIdBasedOnUserId](@OperationsPerformedBy))
               
               SELECT  UAS.UserId,
                          UAS.StatusId AS StausId,
                          UAS.CreatedDateTime AS StatusFromTime,
						  UAS.PlatformId
              FROM [UserActiveStatus] UAS  
			  WHERE UAS.CompanyId = @CompanyId
				    AND UAS.UserId = @UserId

           END
           ELSE
           BEGIN
           
                RAISERROR (@HavePermission,10, 1)
           
           END
    END TRY
    BEGIN CATCH
    
            THROW
    END CATCH
END