<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="BTrakConnectionString" connectionString="Data Source=.;Persist Security Info=True;Database=sgt1-demo;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=False;User ID=sa;Password=2fyH4U6GBVsc1vy;" />
    <add name="AuthenticationConnectionString" connectionString="Data Source=.;Persist Security Info=True;Database=sgt1-auth-demo;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=False;User ID=sa;Password=2fyH4U6GBVsc1vy;" />
  </connectionStrings>
  <appSettings>
    <add key="ApiBasePath" value="http://localhost:55228/" />
    <add key="MongoApiBaseUrl" value="https://localhost:61353/" />
	<add key="ErrorLogFilePath" value="G:\Sudharshan\excel-to-custom-application-records\excel-to-custom-application-records.log" />
  </appSettings>
</configuration>