<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="imageProcessor">
      <section name="security" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageSecuritySection, ImageProcessor.Web"/>
      <section name="processing" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageProcessingSection, ImageProcessor.Web"/>
      <section name="caching" requirePermission="false" type="ImageProcessor.Web.Configuration.ImageCacheSection, ImageProcessor.Web"/>
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless"/>
  </configSections>
  <connectionStrings>
    <add name="BTrakConnectionString"
         connectionString="Data Source=PUJITHA;Initial Catalog=nxcore-ana1;Integrated Security=SSPI;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=True;TrustServerCertificate=True;" />

    <add name="HangfirePersistence"
         connectionString="Data Source=PUJITHA;Initial Catalog=HangFire;Integrated Security=SSPI;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=True;TrustServerCertificate=True;" />

    <add name="AuthenticationConnectionString"
         connectionString="Data Source=PUJITHA;Initial Catalog=nxcore-ana-auth1;Integrated Security=SSPI;Pooling=True;MultipleActiveResultSets=True;Connect Timeout=60;Encrypt=True;TrustServerCertificate=True;" />
  </connectionStrings>

  <appSettings>
    <add key="CommandTimeOut" value="0"/>
    <add key="ApiBasePath" value="backend/"/>
    <add key="EnvironmentName" value="SGT1-DEV"/>
    <add key="ChatApplicationWeb" value="https://officemessenger.snovasys.io/publish.htm"/>
    <add key="ChatApplicationMobile" value="https://play.google.com/store/apps/details?id=com.snovasys.officemessenger"/>
    <add key="ActivityTracker" value="https://officemessenger.snovasys.co.uk/publish.htm"/>
    <add key="TestRailSession" value="a929dc4f-c2ab-4d5f-8127-26030031fe3f"/>
    <add key="TestRailRememberMe" value="6%3A9NEIj132QMkqBQNBBL2d-8pt4a%2F6FbTjjD2f1b3eC"/>
    <add key="StorageAccountName" value="nxusworldstorageaccount"/>
    <add key="StorageAccountAccessKey" value="uSaWGrhoqrElrzODbFqXFIj2DVVHa8X7jBy+YLSvsLYMywjj89oheqQFSOQ+/0meBz4D06N3ygz3+AStVl0seg=="/>
    <add key="FromMailAddress" value="support@nxusworld.com"/>
    <add key="SiteUrl" value="https://sgana.nxussaas.com/"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="SmtpServerPort" value="587"/>
    <add key="SmtpEmail" value="nxusworldtest@gmail.com"/>
    <add key="SmtpPassword" value="Test123!"/>
    <add key="AuthTokenSecret" value="jc%@cb8n_W$$OU[0)*7BdSv2WQXtm&gt;GqC+tBEi}w4#5_I*(n+P"/>
    <add key="EnvironmentUniqueName" value="sgt1-umiro"/>
    <add key="PubnubPublishKey" value="pub-c-ee7a1f27-5fb6-4339-b492-e9dc28abd69e"/>
    <add key="PubnubSubscribeKey" value="sub-c-d6b43d5c-abc9-11eb-8759-1eedd707a532"/>
    <add key="CamundaApiBaseUrl" value="http://localhost:8080"/>
    <add key="IsRecurringJobsNeedtoRun" value="false"/>
    <add key="UseSsl" value="true"/>
    <add key="ContactMail" value="sirisha@snovasys.com"/>
    <add key="UserGuide" value="https://remotesoftware.snovasys.io/IMG/Remote%20Working%20USER%20GUIDE.docx"/>
    <add key="ChatFeedbackLogRecieverMailId" value=""/>
    <add key="RemoteWorkingInductionConfigurationUrlTest" value="https://snovasys.snovasys.io/backend/File/FileApi/GetGenericFileDetails?fileId=D2E69C03-3154-47FA-A4FE-35095244518C"/>
    <add key="HRSoftwareConfigurationUrl" value="https://snovasys.snovasys.io/backend/File/FileApi/GetGenericFileDetails?fileId=72E4A6AD-4ADB-46BB-B788-8A943500CCB8"/>
    <add key="EnergySectorConfigurationUrl" value="https://snovasys.snovasys.io/backend/File/FileApi/GetGenericFileDetails?fileId=F10D05DC-9E87-47E8-94CE-1F85034A5755"/>
    <add key="PracticeManagementConfigurationUrl" value="https://snovasys.snovasys.io/backend/File/FileApi/GetGenericFileDetails?fileId=6234B3BA-8DCB-462C-9894-F8E76A60F1A0"/>
    <add key="DomainAddress" value="staging.nxusworld.com"/>
    <add key="WindowsAppVersion" value="2.0.5.3"/>
    <add key="MobileAppVersion" value="1.0.9"/>
    <add key="LinuxAppVersion" value="1.0.0"/>
    <add key="TimeZoneApi" value="https://pro.ip-api.com/json/{0}?key=5dk23gSGUzKGZ7x"/>
    <add key="TimeZoneApiFree" value="http://ip-api.com/json/"/>
    <add key="FromName" value="Nexus Core"/>
    <add key="StripeApiKey" value=""/>
    <add key="CamundaApiBaseUrl" value="http://localhost:8080"/>
    <add key="IsLoginAllowWithSupport" value="false"/>
    <add key="IsAllowAddOrEditCustomApp" value="true"/>
    <add key="MongoApiBaseUrl" value="http://localhost:57710/"/>
    <add key="AuthenticationServiceBasePath" value="http://localhost:62320/"/>
    <add key="CamundaApiServiceBasePath" value="https://dev-btrak509.nxusworld.com/backend/"/>
    <add key="DocumentStorageApiBaseUrl" value="https://documentsstorage.nxussaas.com/"/>
    <add key="PDFHTMLDesignerApiBaseUrl" value="https://pdfhtmlservice.nxussaas.com/"/>
    <add key="IsTradingModule" value="true"/>
    <add key="AppliedModulesInTrading" value="HR,HR managment,Trading,Forms,Process Dashboard,Live Process Dashboard,Billing management,Authorisation,Dashboard management,Document management,Custom applications,Payroll management,Applications,App Builder,Business,Html Designer,Html Viewer, Projects"/>
    <add key="ClickSendAccountEmail" value="messages@nxusworld.com"/>
    <add key="ClickSendAccountPassword" value="Kaaryaka@1234"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <globalization culture="en-GB" uiCulture="en-GB"/>
    <authentication mode="None"/>
    <pages validateRequest="false"/>
    <compilation targetFramework="4.6.1" debug="true"/>
    <httpRuntime maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647" executionTimeout="1500" targetFramework="4.6.1"/>
  </system.web>
  <exceptionless apiKey="zXmUXn36Xgy2mD65TMebuosD8sWKP3V40Kmzel9o"/>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.2.0" newVersion="5.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Services.AppAuthentication" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Amqp" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\BTrakApiLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="Sirisha@snovasys.com"/>
      <from value="timechamperrors@gmail.com"/>
      <subject value="Exception occured on SGT1-DEV environment"/>
      <smtpHost value="smtp.gmail.com"/>
      <port value="587"/>
      <authentication value="Basic"/>
      <username value="nxusworldtest@gmail.com"/>
      <password value="Testing123!"/>
      <EnableSsl value="true"/>
      <bufferSize value="1"/>
      <lossy value="true"/>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="ERROR"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="SmtpAppender"/>
    </root>
  </log4net>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="support@nxusworld.com">
        <network host="smtp.gmail.com" port="587" userName="nxusworldtest@gmail.com" password="Test123!" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <imageProcessor>
    <security configSource="config\imageprocessor\security.config"/>
    <caching configSource="config\imageprocessor\cache.config"/>
    <processing configSource="config\imageprocessor\processing.config"/>
  </imageProcessor>
</configuration>
<!--ProjectGuid: ACDF9FFA-F08D-4E1C-A364-C3931E335C7F-->