<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SpreadSheetId" value="16svQib8ZyFtneDzQI868F4lVlX4B0eVMFyEQUHqlKag" />
    <add key="PermissionMatrixRange" value="PermissionMatrixInUse!A1:UM" />
    <add key="FeatureProcedureRange" value="PermissionMatrixForProcs!A1:UM" /> 
    <add key="EntityFeatureProcedureRange" value= "PermissionMatrixForEntityLevelProcs!A1:FZ" />
  </appSettings>
</configuration>
